// colors
$gray-light:          #EDEDED;
$blue:                #396A85;
$gray-dark:           #34383B;
$red:                 #F56652;

$text-color:          $gray-dark;

// widths
$page-max-width:      1100px;
$content-max-width:   650px;

$general-spacing:     15px;

// breakpoints
$screen-md:           600px;

// fonts
$font-size-base:      18px;
$font-size-base-md:   20px;
$font-size-h1:        30px;
$font-size-h1-md:     36px;
$font-size-h2:        25px;
$font-size-h2-md:     30px;

$font-size-small:     0.8em;

$font-size-logo:      30px;

$font-weight-base:    300;
$font-weight-bold:    500;
$font-weight-heading: $font-weight-base;
